.header {
  width: 100%;
  height: 226px;
  background: #e2c799;
  padding-right: 10px; }

.header__logo-left {
  width: 239px;
  height: 100%; }

.header__logo-center {
  width: 100px;
  height: 100px;
  mix-blend-mode: darken;
  border: 2px #c38154 solid;
  border-radius: 50%;
  padding: 5px; }

.app_container {
  width: 100%; }

.header__logo-right {
  width: 200px;
  height: 200px;
  border-radius: 50%; }

.header__title {
  color: black;
  font-size: 80px;
  font-family: Oleo Script;
  font-weight: 400;
  word-wrap: break-word; }

.body__navbar {
  padding: 0 20px; }

.home__search-bar {
  width: 1000px;
  height: 40px;
  border: 1px #c38154 solid;
  border-radius: 7px;
  padding: 0 10px; }

.home__seach-btn {
  width: 100px;
  border: 1px #c38154 solid;
  color: #c38154; }

.home__nav-title {
  font-weight: 600; }

.modal-dialog {
  min-width: 50%; }

.modal-header {
  padding: 36px 60px;
  background: #e3ceaa;
  color: black; }

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #bebebe;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px; }

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #0a0a0a;
  display: block;
  transition: 0.3s; }

.sidenav a:hover {
  color: #f1f1f1; }

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px; }

.menu__title {
  padding-left: 15px;
  font-size: 15px;
  font-weight: 600; }

ul.nav-pills {
  margin-left: 30px; }

.menu__session {
  color: black; }

.menu__item {
  display: inline-block;
  margin-bottom: 8px; }

.card-img-top {
  height: 150px; }

.card-title {
  font-size: 14px; }

.card-text {
  font-size: 12px; }

.menu__session-title {
  font-size: 30px; }

.product__image {
  height: 500px;
  width: 500px;
  border-radius: 5px; }

.product__order-attribute-name {
  font-size: 18px;
  color: #6c6767; }

.product__order-button {
  width: 100%;
  color: red; }

.feedback {
  height: 100vh; }
  .feedback-side-bar {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; }
  .feedback-wrapper {
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; }
  .feedback-list {
    list-style-type: none; }
  .feedback-item {
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px; }
  .feedback-date {
    font-size: 12px;
    font-weight: 600;
    color: #7d7c7c; }
  .feedback-img {
    width: 120px;
    height: 120px; }

.btn-add-feedback {
  width: 165px;
  background-color: #e3ceaa;
  color: #675d4c;
  border-radius: 8px; }

.reply-wrapper {
  border-radius: 4px;
  border: 1px solid #c38154;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  background-color: rgba(227, 206, 170, 0.2); }

li.nav-item {
  position: relative; }

.nav-feedback-item a {
  color: #000;
  font-size: 20px; }

.nav-feedback-item ~ .nav-feedback-item::before {
  content: "";
  display: block;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  width: 80%;
  height: 1px;
  background-color: #7d7c7c; }
