.app_container {
  width: 100%;
  min-height: 100vh;
}

body{
  min-height: 100vh;
}

// header
.header {
  width: 100%;
  height: 20vh;
  background: #e2c799;
  padding-right: 10px;
}

.header__logo-left {

  width: 15%;
  height: 100%;
}

.div__center{
  height: 60%;
  width: 20%;
}
.header__logo-center {
  width: 30%;
  height: 100%;
  mix-blend-mode: darken;
  border: 2px #c38154 solid;
  border-radius: 50%;
  padding: 5px;
}

.header__title {
  color: black;
  font-size: 5vh;
  font-family: Oleo Script;
  font-weight: 400;
  word-wrap: break-word;
}
.header__logo-right {
  width: 10%;
  height: 70%;
  border-radius: 50%;
}



.body__navbar {
  padding: 0 20px;
}

.home__search-bar {
  width: 1200px;
  height: 40px;
  border: 1px #c38154 solid;
  border-radius: 7px;
  padding: 0 10px;
}

.home__seach-btn {
  width: 100px;
  border: 1px #c38154 solid;
  color: #c38154;
}

.home__nav-title {
  font-weight: 600;
}

.modal {
  &-dialog {
    min-width: 50%;
  }
  &-header {
    padding: 36px 60px;
    background: #e3ceaa;
    color: black;
    font-size: 80px;
    font-family: Oleo Script;
    font-weight: 400;
    word-wrap: break-word;
}
}
.body__navbar{
    padding: 0 20px;
}

// .home__search-bar{
//     width: 800px;
//     height: 40px;
//     border: 1px #C38154 solid;
//     border-radius: 7px;
//     padding: 0 10px;
// }

.home__seach-btn{
    width: 100px;
    border: 1px #C38154 solid;
    color: #C38154;
}

.home__nav-title{
    font-weight: 600;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #bebebe;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: rgb(10, 10, 10);
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.menu__title {
  padding-left: 15px;
  font-size: 15px;
  font-weight: 600;
}


ul.nav-pills {
  margin-left: 30px;
}
.menu__session {
  color: black;
}


.menu__item {
  display: inline-block;
  margin-bottom: 8px;
}

.card-img-top {
  height: 150px;
}

.card-title {
  font-size: 14px;
}

.card-text {
  font-size: 12px;
}

.menu__session-title {
  font-size: 30px;
}

.product__image {
  height: 600px;
  width: 600px;
  border-radius: 5px;
}

.product__order-attribute-name {
  font-size: 18px;
  color: #6c6767;
}
.product__order-button {
  width:280px;
  color: rgb(246, 246, 246);
}

.feedback {

  height: auto;

  &-side-bar {
    // background-color: #e3ceaa;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  &-wrapper {
    // height: 50%;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  &-list {
    list-style-type: none;
  }
  &-item {
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  }
  &-date {
    font-size: 12px;
    font-weight: 600;
    color: #7d7c7c;
  }
  &-img {
    width: 120px;
    height: 120px;
  }
}

.btn-add-feedback {
  width: 165px;
  background-color: #e3ceaa;
  color: #675d4c;
  border-radius: 8px;
}

.reply-wrapper {
  border-radius: 4px;
  border: 1px solid #c38154;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  background-color: rgba(227, 206, 170, 0.2);
}

li.nav-item {
  position: relative;
}

 .shopping-cart{
    border: 0.5px #c8c8c2 solid;
    border-radius: 5px;
    padding: 5px 5px 5px 10px;
 }

.order__infor-detail{
   border: 0px #c8c8c2 solid;
   text-align-last: right;
}


.nav-feedback-item a {
  color: #000;
  font-size: 20px;
}

.nav-feedback-item ~ .nav-feedback-item::before {
  content: "";
  display: block;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  width: 80%;
  height: 1px;
  background-color: #7d7c7c;
}

.order-status{
  width: 200px;
}


.d-flex {
  display: flex;
  align-items: center;
  justify-content: center; /* Căn giữa theo chiều ngang */
}

.nav-item.active {
  background-color: #C4996C; /* Màu của Bootstrap primary */
  color: #fff; /* Màu chữ trắng */
}

@media (max-width: 450px) {
  .header {
    width: 100%;
    height: 10vh;
  }
  .header__logo-center{
    width: 60%;
  }

  .header__title {
    font-size: 2vh;
    word-wrap: break-word;
  }

  .card-img-top {
    height: 120px;
   
  }

  ul.nav-pills {
    display: flex;
    flex-direction: row!important;
    list-style: none;
  }.product_detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
  }
  .product__image{
    width: 100% !important;
    margin-bottom: 15px; /* Add margin between image and form on smaller screens */
    margin: 0 auto;
  }
  .text-center {
    text-align: center;
  }
  .product__order-button{
    width: 100% !important;
  }
  .app_container .container {
    width: 100%;
  }
  .ml-5 {
    margin-left: 0rem !important;
  }
  .form-inline {
    width: 100% !important;
    flex-wrap: nowrap;
  }
  .btn {
    padding: 4px 10px !important;
    margin-left: 12px;
  }
  .div-cart {
    display: flex;
    width: 100%;
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .mr-5 {
    margin-right: 0rem !important;
  }
  .home__search-bar {
    width: 100%;
  }
  .shopping-cart{
    padding: 5px 5px 5px 5px !important;
    margin-left: 12px;
    border: none;
 }
}

