
<div class="container mt-4">
  <h2>Danh sách Order</h2>  
<ul class="list-group mt-2 flex-row">
   <li class="list-group-item order-status"><a class="text-dark ml-4" href="#">Chờ xác nhận</a></li>
   <li class="list-group-item order-status"><a class="text-dark ml-4" href="#" >Chưa thanh toán</a></li>
   <li class="list-group-item order-status"><a class="text-dark ml-4" href="#" >Đang chuẩn bị</a></li>
   <li class="list-group-item order-status"><a class="text-dark ml-4" href="#" >Đã hoàn thành</a></li>
</ul>
</div>